{% extends 'base.html.twig' %}

{% block title %}Conocenos - One day yes{% endblock %}

{% block stylesheets %}
<link href="{{asset('css/activities.css')}}" rel="stylesheet" type="text/css" media="all"/>
{% endblock %}

{% block body %}
<div class="contenido">

<div class="firstbgtest">
  <div class="row no-gutters align-items-center">
    <div class="col-md-6 mb-md-0 mb-5 hovereffect wow bounceIn" data-wow-delay="1s">
      <img src="images/lamu7.jpg" alt="" class="img-fluid">
    </div>
    <div class="col-md-6 p-md-5">
      <h3 class="h3 mb-4 wow fadeIn" data-wow-delay="1.3s">Titulo Actividad 1</h3>
      <p class="wow fadeIn" data-wow-delay="1.8s">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <div class="wow zoomIn" data-wow-delay="2s"><br>
        <p><a href="#"><button type="button" style="margin-left: 30%;" class="btn btn-success">Reservar Actividad</button></a></p>
        </div>
    </div>
  </div>
</div>
  <div class="row no-gutters align-items-center">
    <div class="col-md-6 order-md-3 mb-md-0 mb-5 hovereffect wow fadeIn" data-wow-delay="0.5s">
      <img src="images/lamu7.jpg" alt="" class="img-fluid">
    </div>
    <div class="col-md-6 p-md-5 order-md-1">
      <h3 class="h3 mb-4 wow fadeIn" data-wow-delay="0.8s">Titulo Actividad 2</h3>
      <p class="wow fadeIn" data-wow-delay="1.4s">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <div class="wow zoomIn" data-wow-delay="1.2s"><br>
      <p><a href="#"><button type="button" style="margin-left: 30%;" class="btn btn-success">Reservar Actividad</button></a></p>
      </div>
    </div>
  </div>
  <div class="secondbgtest">
  <div class="row no-gutters align-items-center">
    <div class="col-md-6 mb-md-0 mb-5 hovereffect wow fadeIn" data-wow-delay="0.5s">
      <img src="images/lamu7.jpg" alt="" class="img-fluid">
    </div>
    <div class="col-md-6 p-md-5">
      <h3 class="h3 mb-4 wow fadeIn" data-wow-delay="0.8s">Titulo Actividad 3</h3>
      <p class="wow fadeIn" data-wow-delay="1.4s">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <div class="wow zoomIn" data-wow-delay="1.2s"><br>
      <p><a href="#"><button type="button" style="margin-left: 30%;" class="btn btn-success">Reservar Actividad</button></a></p>
      </div>
    </div>
  </div>
</div>
  <div class="row no-gutters align-items-center">
    <div class="col-md-6 order-md-3 mb-md-0 mb-5 hovereffect wow fadeIn" data-wow-delay="0.5s">
      <img src="images/lamu7.jpg" alt="" class="img-fluid">
    </div>
    <div class="col-md-6 p-md-5 order-md-1">
      <h3 class="h3 mb-4 wow fadeIn" data-wow-delay="0.8s">Titulo Actividad 4</h3>
      <p class="wow fadeIn" data-wow-delay="1.4s">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <div class="wow zoomIn" data-wow-delay="1.2s"><br>
      <p><a href="#"><button type="button" style="margin-left: 30%;" class="btn btn-success">Reservar Actividad</button></a></p>
      </div>
    </div>
  </div>

</div>
{% endblock %}
