{% extends 'base.html.twig' %}

{% block title %}Conocenos - One day yes{% endblock %}

{% block stylesheets %}
<link href="{{asset('css/activities.css')}}" rel="stylesheet" type="text/css" media="all"/>
{% endblock %}

{% block body %}

<div class="contenido">

<div class="firstbgtest">
  <div class="row no-gutters align-items-center">
    <div class="col-md-6 mb-md-0 mb-5 hovereffect wow fadeIn" data-wow-delay="1s">
      <img src="/images/actividades/Golf.jpg" alt="" class="img-fluid">
    </div>
    <div class="col-md-6 p-md-5">
      <h3 class="h3 mb-4 wow fadeIn" style="text-align:center;" data-wow-delay="1.3s">{% trans %}Golf{% endtrans %}</h3>
      <p class="wow fadeIn" data-wow-delay="1.8s">{% trans %}DescripcionGolf{% endtrans %}</p>
        <div class="wow zoomIn" data-wow-delay="2s"><br>
        <p><a href="#"><button type="button" style="margin-left: 30%;" class="btn btn-success">{% trans %}Reservar Actividad{% endtrans %}</button></a></p>
        </div>
    </div>
  </div>
</div>
  <div class="row no-gutters align-items-center">
    <div class="col-md-6 order-md-3 mb-md-0 mb-5 hovereffect wow fadeIn" data-wow-delay="0.5s">
      <img src="/images/actividades/Buceo.jpg" alt="" class="img-fluid">
    </div>
    <div class="col-md-6 p-md-5 order-md-1">
      <h3 class="h3 mb-4 wow fadeIn" style="text-align:center;" data-wow-delay="0.8s">{% trans %}Buceo{% endtrans %}</h3>
      <p class="wow fadeIn" data-wow-delay="1.4s">{% trans %}DescripcionBuceo{% endtrans %}</p>
      <div class="wow zoomIn" data-wow-delay="1.2s"><br>
      <p><a href="#"><button type="button" style="margin-left: 30%;" class="btn btn-success">{% trans %}Reservar Actividad{% endtrans %}</button></a></p>
      </div>
    </div>
  </div>
  <div class="secondbgtest">
  <div class="row no-gutters align-items-center">
    <div class="col-md-6 mb-md-0 mb-5 hovereffect wow fadeIn" data-wow-delay="0.5s">
      <img src="/images/actividades/Safari.jpg" alt="" class="img-fluid">
    </div>
    <div class="col-md-6 p-md-5">
      <h3 class="h3 mb-4 wow fadeIn" style="text-align:center;" data-wow-delay="0.8s">{% trans %}Safari{% endtrans %}</h3>
      <p class="wow fadeIn" data-wow-delay="1.4s">{% trans %}DescripcionSafari{% endtrans %}</p>
      <div class="wow zoomIn" data-wow-delay="1.2s"><br>
      <p><a href="#"><button type="button" style="margin-left: 30%;" class="btn btn-success">{% trans %}Reservar Actividad{% endtrans %}</button></a></p>
      </div>
    </div>
  </div>
</div>
  <div class="row no-gutters align-items-center">
    <div class="col-md-6 order-md-3 mb-md-0 mb-5 hovereffect wow fadeIn" data-wow-delay="0.5s">
      <img src="/images/actividades/Barca.jpg" alt="" class="img-fluid">
    </div>
    <div class="col-md-6 p-md-5 order-md-1">
      <h3 class="h3 mb-4 wow fadeIn" style="text-align:center;" data-wow-delay="0.8s">{% trans %}Viaje en barca{% endtrans %}</h3>
      <p class="wow fadeIn" data-wow-delay="1.4s">{% trans %}DescripcionBarca{% endtrans %}</p>
      <div class="wow zoomIn" data-wow-delay="1.2s"><br>
      <p><a href="#"><button type="button" style="margin-left: 30%;" class="btn btn-success">{% trans %}Reservar Actividad{% endtrans %}</button></a></p>
      </div>
    </div>
  </div>
  <div class="row no-gutters align-items-center">
    <div class="col-md-6 mb-md-0 mb-5 hovereffect wow fadeIn" data-wow-delay="1s">
      <img src="/images/actividades/Rafting.jpg" alt="" class="img-fluid">
    </div>
    <div class="col-md-6 p-md-5">
      <h3 class="h3 mb-4 wow fadeIn" style="text-align:center;" data-wow-delay="1.3s">{% trans %}Rafting{% endtrans %}</h3>
      <p class="wow fadeIn" data-wow-delay="1.8s">{% trans %}DescripcionRafting{% endtrans %}</p>
        <div class="wow zoomIn" data-wow-delay="2s"><br>
        <p><a href="#"><button type="button" style="margin-left: 30%;" class="btn btn-success">{% trans %}Reservar Actividad{% endtrans %}</button></a></p>
        </div>
    </div>
  </div>
</div>
  <div class="row no-gutters align-items-center">
    <div class="col-md-6 order-md-3 mb-md-0 mb-5 hovereffect wow fadeIn" data-wow-delay="0.5s">
      <img src="/images/actividades/Museo.jpg" alt="" class="img-fluid">
    </div>
    <div class="col-md-6 p-md-5 order-md-1">
      <h3 class="h3 mb-4 wow fadeIn" style="text-align:center;" data-wow-delay="0.8s">{% trans %}Visita al museo{% endtrans %}</h3>
      <p class="wow fadeIn" data-wow-delay="1.4s">{% trans %}DescripcionMuseo{% endtrans %}</p>
      <div class="wow zoomIn" data-wow-delay="1.2s"><br>
      <p><a href="#"><button type="button" style="margin-left: 30%;" class="btn btn-success">{% trans %}Reservar Actividad{% endtrans %}</button></a></p>
      </div>
    </div>
  </div>
  <div class="secondbgtest">
  <div class="row no-gutters align-items-center">
    <div class="col-md-6 mb-md-0 mb-5 hovereffect wow fadeIn" data-wow-delay="0.5s">
      <img src="/images/actividades/Cascada.jpg" alt="" class="img-fluid">
    </div>
    <div class="col-md-6 p-md-5">
      <h3 class="h3 mb-4 wow fadeIn" style="text-align:center;" data-wow-delay="0.8s">{% trans %}Visita a la cascada{% endtrans %}</h3>
      <p class="wow fadeIn" data-wow-delay="1.4s">{% trans %}DescripcionCascada{% endtrans %}</p>
      <div class="wow zoomIn" data-wow-delay="1.2s"><br>
      <p><a href="#"><button type="button" style="margin-left: 30%;" class="btn btn-success">{% trans %}Reservar Actividad{% endtrans %}</button></a></p>
      </div>
    </div>
  </div>
</div>
  <div class="row no-gutters align-items-center">
    <div class="col-md-6 order-md-3 mb-md-0 mb-5 hovereffect wow fadeIn" data-wow-delay="0.5s">
      <img src="/images/actividades/Escalada.jpg" alt="" class="img-fluid">
    </div>
    <div class="col-md-6 p-md-5 order-md-1">
      <h3 class="h3 mb-4 wow fadeIn" style="text-align:center;" data-wow-delay="0.8s">{% trans %}Escalada{% endtrans %}</h3>
      <p class="wow fadeIn" data-wow-delay="1.4s">{% trans %}DescripcionEscalada{% endtrans %}</p>
      <div class="wow zoomIn" data-wow-delay="1.2s"><br>
      <p><a href="#"><button type="button" style="margin-left: 30%;" class="btn btn-success">{% trans %}Reservar Actividad{% endtrans %}</button></a></p>
      </div>
    </div>
  </div>

</div>

{% endblock %}
