{% extends 'base.html.twig' %}

{% block stylesheets %}
<link href="{{asset('css/gallery.css')}}" rel="stylesheet" type="text/css" media="all"/>

{% endblock %}

{% block body %}

<!-- Header -->


<!-- MAIN (Center habitatsite) -->
<div class="main">

<div id="myBtnContainer">
  <button class="btn active" onclick="filterSelection('all')"> Mostrar todo</button>
  <button class="btn" onclick="filterSelection('habitat')"> Habitat</button>
  <button class="btn" onclick="filterSelection('vida')"> Vida</button>
  <button class="btn" onclick="filterSelection('habitaciones')"> Habitaciones</button>
</div>

<!-- Portfolio Gallery Grid -->
<div class="row">
  <div class="column col-md-4 habitaciones ">
    <div class="content">
      <div class="hovereffect">
      <img src="/images/habitaciones/1.jpg" alt="Primera habitacion" style="width:100%">
      <div class="overlay">
       <h2>{% trans %}Primera habitacion construida{% endtrans %}</h2>
      </div>
      </div>
    </div>
  </div>
  <div class="column col-md-4 vida">
    <div class="content ">
      <div class="hovereffect">
    <img src="/images/vida/1.jpg" alt="Cocinando por la tarde" style="width:100%">
      <div class="overlay">
       <h2>Cocinando una tarde</h2>
      </div>
      </div>
    </div>
  </div>
  <div class="column col-md-4 habitat">
    <div class="content ">
      <div class="hovereffect">
    <img src="/images/habitat/1.jpg" alt="barca" style="width:100%">
    <div class="overlay">
     <h2>Así son las barcas</h2>
    </div>
      </div>
    </div>
  </div>
  <div class="column col-md-4 habitaciones ">
    <div class="content">
      <div class="hovereffect">
      <img src="/images/habitaciones/2.jpg" alt="Habitacion de Moha" style="width:100%">
      <div class="overlay">
       <h2>Habitación de Mohammed</h2>
      </div>
      </div>
    </div>
  </div>
  <div class="column col-md-4 vida">
    <div class="content ">
      <div class="hovereffect">
    <img src="/images/vida/2.jpg" alt="Columpiandose" style="width:100%">
      <div class="overlay">
       <h2>Columpiandose y disfrutando</h2>
      </div>
      </div>
    </div>
  </div>
  <div class="column col-md-4 habitat">
    <div class="content ">
      <div class="hovereffect">
    <img src="/images/habitat/2.jpg" alt="Costa" style="width:100%">
    <div class="overlay">
     <h2>Paseando por la costa</h2>
    </div>
      </div>
    </div>
  </div>
  <div class="column col-md-4 habitaciones ">
    <div class="content">
      <div class="hovereffect">
      <img src="/images/habitaciones/3.jpg" alt="Exterior Habitacion" style="width:100%">
      <div class="overlay">
       <h2>Exterior de una habitacion</h2>
      </div>
      </div>
    </div>
  </div>
  <div class="column col-md-4 vida">
    <div class="content ">
      <div class="hovereffect">
    <img src="/images/vida/3.jpg" alt="Cocinando" style="width:100%">
      <div class="overlay">
       <h2>Cocinando para los niños</h2>
      </div>
      </div>
    </div>
  </div>
  <div class="column col-md-4 habitat">
    <div class="content ">
      <div class="hovereffect">
    <img src="/images/habitat/3.jpg" alt="Paisaje" style="width:100%">
    <div class="overlay">
     <h2>Paisaje precioso</h2>
    </div>
      </div>
    </div>
  </div>
  <div class="column col-md-4 habitaciones ">
    <div class="content">
      <div class="hovereffect">
      <img src="/images/habitaciones/4.jpg" alt="Habitacion" style="width:100%">
      <div class="overlay">
       <h2>Otra habitación más</h2>
      </div>
      </div>
    </div>
  </div>
  <div class="column col-md-4 vida">
    <div class="content ">
      <div class="hovereffect">
    <img src="/images/vida/4.jpg" alt="pequeños jugando" style="width:100%">
      <div class="overlay">
       <h2>Los pequeños reunidos</h2>
      </div>
      </div>
    </div>
  </div>
  <div class="column col-md-4 habitat">
    <div class="content ">
      <div class="hovereffect">
    <img src="/images/habitat/4.jpg" alt="Mar" style="width:100%">
    <div class="overlay">
     <h2>Vuelta por el mar</h2>
    </div>
      </div>
    </div>
  </div>
  <div class="column col-md-4 habitaciones ">
    <div class="content">
      <div class="hovereffect">
      <img src="/images/habitaciones/5.jpg" alt="Habitacion interior" style="width:100%">
      <div class="overlay">
       <h2>Interior bonito</h2>
      </div>
      </div>
    </div>
  </div>
  <div class="column col-md-4 vida">
    <div class="content ">
      <div class="hovereffect">
    <img src="/images/vida/5.jpg" alt="Colegio" style="width:100%">
      <div class="overlay">
       <h2>Así es la escuela</h2>
      </div>
      </div>
    </div>
  </div>
  <div class="column col-md-4 habitat">
    <div class="content ">
      <div class="hovereffect">
    <img src="/images/habitat/5.jpg" alt="Mercado" style="width:100%">
    <div class="overlay">
     <h2>Mercado</h2>
    </div>
      </div>
    </div>
  </div>
  <div class="column col-md-4 habitaciones ">
    <div class="content">
      <div class="hovereffect">
      <img src="/images/habitaciones/6.jpg" alt="Cocina" style="width:100%">
      <div class="overlay">
       <h2>Cocina de una habitación</h2>
      </div>
      </div>
    </div>
  </div>
  <div class="column col-md-4 vida">
    <div class="content ">
      <div class="hovereffect">
    <img src="/images/vida/6.jpg" alt="Bbiendo" style="width:100%">
      <div class="overlay">
       <h2>Bebiendo en grupo</h2>
      </div>
      </div>
    </div>
  </div>
  <div class="column col-md-4 habitat">
    <div class="content ">
      <div class="hovereffect">
    <img src="/images/habitat/6.jpg" alt="rural" style="width:100%">
    <div class="overlay">
     <h2>Zona rural</h2>
    </div>
      </div>
    </div>
  </div>
  <div class="column col-md-4 habitaciones ">
    <div class="content">
      <div class="hovereffect">
      <img src="/images/habitaciones/7.jpg" alt="Zona durmiendo" style="width:100%">
      <div class="overlay">
       <h2>Zona para descansar</h2>
      </div>
      </div>
    </div>
  </div>
  <div class="column col-md-4 vida">
    <div class="content ">
      <div class="hovereffect">
    <img src="/images/vida/7.jpg" alt="Mohammed y el burro" style="width:100%">
      <div class="overlay">
       <h2>Mohammed con su mascota</h2>
      </div>
      </div>
    </div>
  </div>
  <div class="column col-md-4 habitat">
    <div class="content ">
      <div class="hovereffect">
    <img src="/images/habitat/7.jpg" alt="Zona paisaje" style="width:100%">
    <div class="overlay">
     <h2>Lugar tranquilo y hermoso</h2>
    </div>
      </div>
    </div>
  </div>
  <div class="column col-md-4 habitaciones ">
    <div class="content">
      <div class="hovereffect">
      <img src="/images/habitaciones/8.jpg" alt="Cafetera" style="width:100%">
      <div class="overlay">
       <h2>Cafetera de la cocina</h2>
      </div>
      </div>
    </div>
  </div>
  <div class="column col-md-4 vida">
    <div class="content ">
      <div class="hovereffect">
    <img src="/images/vida/8.jpg" alt="Construccion" style="width:100%">
      <div class="overlay">
       <h2>Inicio de una casa</h2>
      </div>
      </div>
    </div>
  </div>
  <div class="column col-md-4 habitat">
    <div class="content ">
      <div class="hovereffect">
    <img src="/images/habitat/8.jpg" alt="Cabañas" style="width:100%">
    <div class="overlay">
     <h2>Cabañas relucientes</h2>
    </div>
      </div>
    </div>
  </div>
  <div class="column col-md-4 habitaciones ">
    <div class="content">
      <div class="hovereffect">
      <img src="/images/habitaciones/9.jpg" alt="Comedor" style="width:100%">
      <div class="overlay">
       <h2>Comedor de una casa</h2>
      </div>
      </div>
    </div>
  </div>
  <div class="column col-md-4 vida">
    <div class="content ">
      <div class="hovereffect">
    <img src="/images/vida/9.jpg" alt="Alimentadose" style="width:100%">
      <div class="overlay">
       <h2>Comiendo en grupo</h2>
      </div>
      </div>
    </div>
  </div>
  <div class="column col-md-4 habitat">
    <div class="content ">
      <div class="hovereffect">
    <img src="/images/habitat/9.jpg" alt="Cabañas" style="width:100%">
    <div class="overlay">
     <h2>Vista a las cabañas</h2>
    </div>
      </div>
    </div>
  </div>
  <div class="column col-md-4 habitaciones ">
    <div class="content">
      <div class="hovereffect">
      <img src="/images/habitaciones/10.jpg" alt="Descanso" style="width:100%">
      <div class="overlay">
       <h2>Zona de descanso</h2>
      </div>
      </div>
    </div>
  </div>
  <div class="column col-md-4 vida">
    <div class="content ">
      <div class="hovereffect">
    <img src="/images/vida/10.jpg" alt="Niña preciosa" style="width:100%">
      <div class="overlay">
       <h2>Pequeña preciosa</h2>
      </div>
      </div>
    </div>
  </div>
  <div class="column col-md-4 habitat">
    <div class="content ">
      <div class="hovereffect">
    <img src="/images/habitat/10.jpg" alt="Jardín" style="width:100%">
    <div class="overlay">
     <h2>Jardín hermoso</h2>
    </div>
      </div>
    </div>
  </div>
  <div class="column col-md-4 habitaciones ">
    <div class="content">
      <div class="hovereffect">
      <img src="/images/habitaciones/11.jpg" alt="Descanso" style="width:100%">
      <div class="overlay">
       <h2>Otra zona para descansar</h2>
      </div>
      </div>
    </div>
  </div>
  <div class="column col-md-4 vida">
    <div class="content ">
      <div class="hovereffect">
    <img src="/images/vida/11.jpg" alt="Cocinando" style="width:100%">
      <div class="overlay">
       <h2>Cocinando en las cabañas</h2>
      </div>
      </div>
    </div>
  </div>
  <div class="column col-md-4 habitat">
    <div class="content ">
      <div class="hovereffect">
    <img src="/images/habitat/11.jpg" alt="Jardín" style="width:100%">
    <div class="overlay">
     <h2>Vista al jardín</h2>
    </div>
      </div>
    </div>
  </div>
  <div class="column col-md-4 habitaciones ">
    <div class="content">
      <div class="hovereffect">
      <img src="/images/habitaciones/12.jpg" alt="Comedor" style="width:100%">
      <div class="overlay">
       <h2>Comedor desde arriba</h2>
      </div>
      </div>
    </div>
  </div>
  <div class="column col-md-4 vida">
    <div class="content ">
      <div class="hovereffect">
    <img src="/images/vida/12.jpg" alt="Niño feliz" style="width:100%">
      <div class="overlay">
       <h2>Trabajando en la felicidad</h2>
      </div>
      </div>
    </div>
  </div>
  <div class="column col-md-4 habitat">
    <div class="content ">
      <div class="hovereffect">
    <img src="/images/habitat/12.jpg" alt="Amanecer" style="width:100%">
    <div class="overlay">
     <h2>Así es el amanecer</h2>
    </div>
      </div>
    </div>
  </div>
  <div class="column col-md-4 vida">
    <div class="content ">
      <div class="hovereffect">
    <img src="/images/vida/13.jpg" alt="Lights" style="width:100%">
      <div class="overlay">
       <h2>Don Omar en su cabaña</h2>
      </div>
      </div>
    </div>
  </div>
  <div class="column col-md-4 habitat">
    <div class="content ">
      <div class="hovereffect">
    <img src="/images/habitat/13.jpg" alt="Puerto" style="width:100%">
    <div class="overlay">
     <h2>El puerto</h2>
    </div>
      </div>
    </div>
  </div>
  <div class="column col-md-4 habitat">
    <div class="content ">
      <div class="hovereffect">
    <img src="/images/habitat/14.jpg" alt="Mercado" style="width:100%">
    <div class="overlay">
     <h2>Vistas al mercado</h2>
    </div>
      </div>
    </div>
  </div>
  <div class="column col-md-4 vida">
    <div class="content ">
      <div class="hovereffect">
    <img src="/images/vida/15.jpg" alt="Lights" style="width:100%">
      <div class="overlay">
       <h2>Jugando y aprendiendo</h2>
      </div>
      </div>
    </div>
  </div>
  <div class="column col-md-4 habitat">
    <div class="content ">
      <div class="hovereffect">
    <img src="/images/habitat/15.jpg" alt="Vista mar" style="width:100%">
    <div class="overlay">
     <h2>Vista desde el jardín</h2>
    </div>
      </div>
    </div>
  </div>
  <div class="column col-md-4 vida">
    <div class="content ">
      <div class="hovereffect">
    <img src="/images/vida/16.jpg" alt="Hablando" style="width:100%">
      <div class="overlay">
       <h2>Charlando en las cabañas</h2>
      </div>
      </div>
    </div>
  </div>
  <div class="column col-md-4 habitat">
    <div class="content ">
      <div class="hovereffect">
    <img src="/images/habitat/16.jpg" alt="Casas" style="width:100%">
    <div class="overlay">
     <h2>Todas las casas</h2>
    </div>
      </div>
    </div>
  </div>
  <div class="column col-md-4 vida">
    <div class="content ">
      <div class="hovereffect">
    <img src="/images/vida/17.jpg" alt="Jugando en grupo" style="width:100%">
      <div class="overlay">
       <h2>Jugando en grupo</h2>
      </div>
      </div>
    </div>
  </div>
  <div class="column col-md-4 habitat">
    <div class="content ">
      <div class="hovereffect">
    <img src="/images/habitat/17.jpg" alt="Puerto" style="width:100%">
    <div class="overlay">
     <h2>El puerto</h2>
    </div>
      </div>
    </div>
  </div>
  <div class="column col-md-4 vida">
    <div class="content ">
      <div class="hovereffect">
    <img src="/images/vida/18.jpg" alt="Mercado" style="width:100%">
      <div class="overlay">
       <h2>Mercado</h2>
      </div>
      </div>
    </div>
  </div>
  <div class="column col-md-4 habitat">
    <div class="content ">
      <div class="hovereffect">
    <img src="/images/habitat/18.jpg" alt="Vista hogares" style="width:100%">
    <div class="overlay">
     <h2>Vista a los hogares</h2>
    </div>
      </div>
    </div>
  </div>
  <div class="column col-md-4 vida">
    <div class="content ">
      <div class="hovereffect">
    <img src="/images/vida/19.jpg" alt="Jugando" style="width:100%">
      <div class="overlay">
       <h2>Jugando con sus figuras</h2>
      </div>
      </div>
    </div>
  </div>
  <div class="column col-md-4 habitat">
    <div class="content ">
      <div class="hovereffect">
    <img src="/images/habitat/19.jpg" alt="Playa" style="width:100%">
    <div class="overlay">
     <h2>Preciosa playa</h2>
    </div>
      </div>
    </div>
  </div>
  <div class="column col-md-4 vida">
    <div class="content ">
      <div class="hovereffect">
    <img src="/images/vida/20.jpg" alt="Niños cantando" style="width:100%">
      <div class="overlay">
       <h2>Niños cantando en coro</h2>
      </div>
      </div>
    </div>
  </div>
  <div class="column col-md-4 habitat">
    <div class="content ">
      <div class="hovereffect">
    <img src="/images/habitat/20.jpg" alt="Vista" style="width:100%">
    <div class="overlay">
     <h2>Desde el jardín al mar</h2>
    </div>
      </div>
    </div>
  </div>
  <div class="column col-md-4 vida">
    <div class="content ">
      <div class="hovereffect">
    <img src="/images/vida/21.jpg" alt="Escuela" style="width:100%">
      <div class="overlay">
       <h2>Aprendiendo con juegos</h2>
      </div>
      </div>
    </div>
  </div>
  <div class="column col-md-4 habitat">
    <div class="content ">
      <div class="hovereffect">
    <img src="/images/habitat/21.jpg" alt="Puerto" style="width:100%">
    <div class="overlay">
     <h2>Paradero del puerto</h2>
    </div>
      </div>
    </div>
  </div>
  <div class="column col-md-4 vida">
    <div class="content ">
      <div class="hovereffect">
    <img src="/images/vida/22.jpg" alt="Begoña divirtiendose" style="width:100%">
      <div class="overlay">
       <h2>Begoña divirtiendose</h2>
      </div>
      </div>
    </div>
  </div>
  <div class="column col-md-4 habitat">
    <div class="content ">
      <div class="hovereffect">
    <img src="/images/habitat/22.jpg" alt="Jardín" style="width:100%">
    <div class="overlay">
     <h2>Naturaleza hermosa</h2>
    </div>
      </div>
    </div>
  </div>
  <div class="column col-md-4 vida">
    <div class="content ">
      <div class="hovereffect">
    <img src="/images/vida/23.jpg" alt="Futbol" style="width:100%">
      <div class="overlay">
       <h2>Jugando a futbol</h2>
      </div>
      </div>
    </div>
  </div>
  <div class="column col-md-4 vida">
    <div class="content ">
      <div class="hovereffect">
    <img src="/images/vida/24.jpg" alt="Comedor" style="width:100%">
    <div class="overlay">
     <h2>Comedor</h2>
    </div>
      </div>
    </div>
  </div>
  <div class="column col-md-4 vida">
    <div class="content ">
      <div class="hovereffect">
    <img src="/images/vida/25.jpg" alt="Escuela" style="width:100%">
      <div class="overlay">
       <h2>Lecciones de geografía</h2>
      </div>
      </div>
    </div>
  </div>
  <div class="column col-md-4 vida">
    <div class="content ">
      <div class="hovereffect">
    <img src="/images/vida/26.jpg" alt="Naturaleza" style="width:100%">
    <div class="overlay">
     <h2>Explorando la naturaleza</h2>
    </div>
      </div>
    </div>
  </div>
  <div class="column col-md-4 vida">
    <div class="content ">
      <div class="hovereffect">
    <img src="/images/vida/27.jpg" alt="Escuela" style="width:100%">
      <div class="overlay">
       <h2>Aprendiendo en la escuela</h2>
      </div>
      </div>
    </div>
  </div>



<!-- END GRID -->
</div>

<!-- END MAIN -->
</div>

{% endblock %}


{% block javascripts %}
  <script src="{{asset('js/gallery.js')}}" charset="utf-8"></script>
{% endblock %}
