{% extends 'base.html.twig' %}

{% block stylesheets %}
<link href="{{asset('css/gallery.css')}}" rel="stylesheet" type="text/css" media="all"/>

{% endblock %}

{% block body %}



<!-- Header -->


<!-- MAIN (Center habitatsite) -->
<div class="main">

<div id="myBtnContainer">
  <button class="btn activo1 todo" onclick="filterSelection('all')"> {% trans %}Mostrar todo{% endtrans %}</button>
  <button class="btn habitat1" onclick="filterSelection('habitat')"> {% trans %}Habitat{% endtrans %}</button>
  <button class="btn vida1" onclick="filterSelection('vida')"> {% trans %}Vida{% endtrans %}</button>
  <button class="btn habitaciones1" onclick="filterSelection('habitaciones')"> {% trans %}Habitaciones{% endtrans %}</button>
</div>

<!-- Portfolio Gallery Grid -->
<div class="row">
  <div class="column col-md-4 habitaciones ">
    <div class="content">
      <div class="hovereffect">
      <img src="/images/habitaciones/1.jpg" alt="Primera habitacion" style="width:100%">
      <div class="overlay">
       <h2>{% trans %}Primera habitacion construida{% endtrans %}</h2>
      </div>
      </div>
    </div>
  </div>
  <div class="column col-md-4 vida">
    <div class="content ">
      <div class="hovereffect">
    <img src="/images/vida/1.jpg" alt="Cocinando por la tarde" style="width:100%">
      <div class="overlay">
       <h2>{% trans %}Cocinando una tarde{% endtrans %}</h2>
      </div>
      </div>
    </div>
  </div>
  <div class="column col-md-4 habitat">
    <div class="content ">
      <div class="hovereffect">
    <img src="/images/habitat/1.jpg" alt="barca" style="width:100%">
    <div class="overlay">
     <h2>{% trans %}Así son las barcas{% endtrans %}</h2>
    </div>
      </div>
    </div>
  </div>
  <div class="column col-md-4 habitaciones ">
    <div class="content">
      <div class="hovereffect">
      <img src="/images/habitaciones/2.jpg" alt="Habitacion de Moha" style="width:100%">
      <div class="overlay">
       <h2>{% trans %}Habitación de Mohammed{% endtrans %}</h2>
      </div>
      </div>
    </div>
  </div>
  <div class="column col-md-4 vida">
    <div class="content ">
      <div class="hovereffect">
    <img src="/images/vida/2.jpg" alt="Columpiandose" style="width:100%">
      <div class="overlay">
       <h2>{% trans %}Columpiandose y disfrutando{% endtrans %}</h2>
      </div>
      </div>
    </div>
  </div>
  <div class="column col-md-4 habitat">
    <div class="content ">
      <div class="hovereffect">
    <img src="/images/habitat/2.jpg" alt="Costa" style="width:100%">
    <div class="overlay">
     <h2>{% trans %}Paseando por la costa{% endtrans %}</h2>
    </div>
      </div>
    </div>
  </div>
  <div class="column col-md-4 habitaciones ">
    <div class="content">
      <div class="hovereffect">
      <img src="/images/habitaciones/3.jpg" alt="Exterior Habitacion" style="width:100%">
      <div class="overlay">
       <h2>{% trans %}Exterior de una habitacion{% endtrans %}</h2>
      </div>
      </div>
    </div>
  </div>
  <div class="column col-md-4 vida">
    <div class="content ">
      <div class="hovereffect">
    <img src="/images/vida/3.jpg" alt="Cocinando" style="width:100%">
      <div class="overlay">
       <h2>{% trans %}Cocinando para los niños{% endtrans %}</h2>
      </div>
      </div>
    </div>
  </div>
  <div class="column col-md-4 habitat">
    <div class="content ">
      <div class="hovereffect">
    <img src="/images/habitat/3.jpg" alt="Paisaje" style="width:100%">
    <div class="overlay">
     <h2>{% trans %}Paisaje precioso{% endtrans %}</h2>
    </div>
      </div>
    </div>
  </div>
  <div class="column col-md-4 habitaciones ">
    <div class="content">
      <div class="hovereffect">
      <img src="/images/habitaciones/4.jpg" alt="Habitacion" style="width:100%">
      <div class="overlay">
       <h2>{% trans %}Otra habitación más{% endtrans %}</h2>
      </div>
      </div>
    </div>
  </div>
  <div class="column col-md-4 vida">
    <div class="content ">
      <div class="hovereffect">
    <img src="/images/vida/4.jpg" alt="pequeños jugando" style="width:100%">
      <div class="overlay">
       <h2>{% trans %}Los pequeños reunidos{% endtrans %}</h2>
      </div>
      </div>
    </div>
  </div>
  <div class="column col-md-4 habitat">
    <div class="content ">
      <div class="hovereffect">
    <img src="/images/habitat/4.jpg" alt="Mar" style="width:100%">
    <div class="overlay">
     <h2>{% trans %}Vuelta por el mar{% endtrans %}</h2>
    </div>
      </div>
    </div>
  </div>
  <div class="column col-md-4 habitaciones ">
    <div class="content">
      <div class="hovereffect">
      <img src="/images/habitaciones/5.jpg" alt="Habitacion interior" style="width:100%">
      <div class="overlay">
       <h2>{% trans %}Interior bonito{% endtrans %}</h2>
      </div>
      </div>
    </div>
  </div>
  <div class="column col-md-4 vida">
    <div class="content ">
      <div class="hovereffect">
    <img src="/images/vida/5.jpg" alt="Colegio" style="width:100%">
      <div class="overlay">
       <h2>{% trans %}Así es la escuela{% endtrans %}</h2>
      </div>
      </div>
    </div>
  </div>
  <div class="column col-md-4 habitat">
    <div class="content ">
      <div class="hovereffect">
    <img src="/images/habitat/5.jpg" alt="Mercado" style="width:100%">
    <div class="overlay">
     <h2>{% trans %}Escuela{% endtrans %}</h2>
    </div>
      </div>
    </div>
  </div>
  <div class="column col-md-4 habitaciones ">
    <div class="content">
      <div class="hovereffect">
      <img src="/images/habitaciones/6.jpg" alt="Cocina" style="width:100%">
      <div class="overlay">
       <h2>{% trans %}Cocina de una habitación{% endtrans %}</h2>
      </div>
      </div>
    </div>
  </div>
  <div class="column col-md-4 vida">
    <div class="content ">
      <div class="hovereffect">
    <img src="/images/vida/6.jpg" alt="Bbiendo" style="width:100%">
      <div class="overlay">
       <h2>{% trans %}Bebiendo en grupo{% endtrans %}</h2>
      </div>
      </div>
    </div>
  </div>
  <div class="column col-md-4 habitat">
    <div class="content ">
      <div class="hovereffect">
    <img src="/images/habitat/6.jpg" alt="rural" style="width:100%">
    <div class="overlay">
     <h2>{% trans %}Zona rural{% endtrans %}</h2>
    </div>
      </div>
    </div>
  </div>
  <div class="column col-md-4 habitaciones ">
    <div class="content">
      <div class="hovereffect">
      <img src="/images/habitaciones/7.jpg" alt="Zona durmiendo" style="width:100%">
      <div class="overlay">
       <h2>{% trans %}Zona para descansar{% endtrans %}</h2>
      </div>
      </div>
    </div>
  </div>
  <div class="column col-md-4 vida">
    <div class="content ">
      <div class="hovereffect">
    <img src="/images/vida/7.jpg" alt="Mohammed y el burro" style="width:100%">
      <div class="overlay">
       <h2>{% trans %}Mohammed con su mascota{% endtrans %}</h2>
      </div>
      </div>
    </div>
  </div>
  <div class="column col-md-4 habitat">
    <div class="content ">
      <div class="hovereffect">
    <img src="/images/habitat/7.jpg" alt="Zona paisaje" style="width:100%">
    <div class="overlay">
     <h2>{% trans %}Lugar tranquilo y hermoso{% endtrans %}</h2>
    </div>
      </div>
    </div>
  </div>
  <div class="column col-md-4 habitaciones ">
    <div class="content">
      <div class="hovereffect">
      <img src="/images/habitaciones/8.jpg" alt="Cafetera" style="width:100%">
      <div class="overlay">
       <h2>{% trans %}Cafetera de la cocina{% endtrans %}</h2>
      </div>
      </div>
    </div>
  </div>
  <div class="column col-md-4 vida">
    <div class="content ">
      <div class="hovereffect">
    <img src="/images/vida/8.jpg" alt="Construccion" style="width:100%">
      <div class="overlay">
       <h2>{% trans %}Inicio de una casa{% endtrans %}</h2>
      </div>
      </div>
    </div>
  </div>
  <div class="column col-md-4 habitat">
    <div class="content ">
      <div class="hovereffect">
    <img src="/images/habitat/8.jpg" alt="Cabañas" style="width:100%">
    <div class="overlay">
     <h2>{% trans %}Cabañas relucientes{% endtrans %}</h2>
    </div>
      </div>
    </div>
  </div>
  <div class="column col-md-4 habitaciones ">
    <div class="content">
      <div class="hovereffect">
      <img src="/images/habitaciones/9.jpg" alt="Comedor" style="width:100%">
      <div class="overlay">
       <h2>{% trans %}Comedor de una casa{% endtrans %}</h2>
      </div>
      </div>
    </div>
  </div>
  <div class="column col-md-4 vida">
    <div class="content ">
      <div class="hovereffect">
    <img src="/images/vida/9.jpg" alt="Alimentadose" style="width:100%">
      <div class="overlay">
       <h2>{% trans %}Comiendo en grupo{% endtrans %}</h2>
      </div>
      </div>
    </div>
  </div>
  <div class="column col-md-4 habitat">
    <div class="content ">
      <div class="hovereffect">
    <img src="/images/habitat/9.jpg" alt="Cabañas" style="width:100%">
    <div class="overlay">
     <h2>{% trans %}Vista a las cabañas{% endtrans %}</h2>
    </div>
      </div>
    </div>
  </div>
  <div class="column col-md-4 habitaciones ">
    <div class="content">
      <div class="hovereffect">
      <img src="/images/habitaciones/10.jpg" alt="Descanso" style="width:100%">
      <div class="overlay">
       <h2>{% trans %}Zona de descanso{% endtrans %}</h2>
      </div>
      </div>
    </div>
  </div>
  <div class="column col-md-4 vida">
    <div class="content ">
      <div class="hovereffect">
    <img src="/images/vida/10.jpg" alt="Niña preciosa" style="width:100%">
      <div class="overlay">
       <h2>{% trans %}Pequeña preciosa{% endtrans %}</h2>
      </div>
      </div>
    </div>
  </div>
  <div class="column col-md-4 habitat">
    <div class="content ">
      <div class="hovereffect">
    <img src="/images/habitat/10.jpg" alt="Jardín" style="width:100%">
    <div class="overlay">
     <h2>{% trans %}Jardín hermoso{% endtrans %}</h2>
    </div>
      </div>
    </div>
  </div>
  <div class="column col-md-4 habitaciones ">
    <div class="content">
      <div class="hovereffect">
      <img src="/images/habitaciones/11.jpg" alt="Descanso" style="width:100%">
      <div class="overlay">
       <h2>{% trans %}Otra zona para descansar{% endtrans %}</h2>
      </div>
      </div>
    </div>
  </div>
  <div class="column col-md-4 vida">
    <div class="content ">
      <div class="hovereffect">
    <img src="/images/vida/11.jpg" alt="Cocinando" style="width:100%">
      <div class="overlay">
       <h2>{% trans %}Cocinando en las cabañas{% endtrans %}</h2>
      </div>
      </div>
    </div>
  </div>
  <div class="column col-md-4 habitat">
    <div class="content ">
      <div class="hovereffect">
    <img src="/images/habitat/11.jpg" alt="Jardín" style="width:100%">
    <div class="overlay">
     <h2>{% trans %}Vista al jardín{% endtrans %}</h2>
    </div>
      </div>
    </div>
  </div>
  <div class="column col-md-4 habitaciones ">
    <div class="content">
      <div class="hovereffect">
      <img src="/images/habitaciones/12.jpg" alt="Comedor" style="width:100%">
      <div class="overlay">
       <h2>{% trans %}Comedor desde arriba{% endtrans %}</h2>
      </div>
      </div>
    </div>
  </div>
  <div class="column col-md-4 vida">
    <div class="content ">
      <div class="hovereffect">
    <img src="/images/vida/12.jpg" alt="Niño feliz" style="width:100%">
      <div class="overlay">
       <h2>{% trans %}Trabajando en la felicidad{% endtrans %}</h2>
      </div>
      </div>
    </div>
  </div>
  <div class="column col-md-4 habitat">
    <div class="content ">
      <div class="hovereffect">
    <img src="/images/habitat/12.jpg" alt="Amanecer" style="width:100%">
    <div class="overlay">
     <h2>{% trans %}Así es el amanecer{% endtrans %}</h2>
    </div>
      </div>
    </div>
  </div>
  <div class="column col-md-4 vida">
    <div class="content ">
      <div class="hovereffect">
    <img src="/images/vida/13.jpg" alt="Lights" style="width:100%">
      <div class="overlay">
       <h2>{% trans %}Don Omar en su cabaña{% endtrans %}</h2>
      </div>
      </div>
    </div>
  </div>
  <div class="column col-md-4 habitat">
    <div class="content ">
      <div class="hovereffect">
    <img src="/images/habitat/13.jpg" alt="Puerto" style="width:100%">
    <div class="overlay">
     <h2>{% trans %}El puerto{% endtrans %}</h2>
    </div>
      </div>
    </div>
  </div>
  <div class="column col-md-4 habitat">
    <div class="content ">
      <div class="hovereffect">
    <img src="/images/habitat/14.jpg" alt="Mercado" style="width:100%">
    <div class="overlay">
     <h2>{% trans %}Vistas al mercado{% endtrans %}</h2>
    </div>
      </div>
    </div>
  </div>
  <div class="column col-md-4 vida">
    <div class="content ">
      <div class="hovereffect">
    <img src="/images/vida/15.jpg" alt="Lights" style="width:100%">
      <div class="overlay">
       <h2>{% trans %}Jugando y aprendiendo{% endtrans %}</h2>
      </div>
      </div>
    </div>
  </div>
  <div class="column col-md-4 habitat">
    <div class="content ">
      <div class="hovereffect">
    <img src="/images/habitat/15.jpg" alt="Vista mar" style="width:100%">
    <div class="overlay">
     <h2>{% trans %}Vista desde el jardín{% endtrans %}</h2>
    </div>
      </div>
    </div>
  </div>
  <div class="column col-md-4 vida">
    <div class="content ">
      <div class="hovereffect">
    <img src="/images/vida/16.jpg" alt="Hablando" style="width:100%">
      <div class="overlay">
       <h2>{% trans %}Charlando en las cabañas{% endtrans %}</h2>
      </div>
      </div>
    </div>
  </div>
  <div class="column col-md-4 habitat">
    <div class="content ">
      <div class="hovereffect">
    <img src="/images/habitat/16.jpg" alt="Casas" style="width:100%">
    <div class="overlay">
     <h2>{% trans %}Todas las casas{% endtrans %}</h2>
    </div>
      </div>
    </div>
  </div>
  <div class="column col-md-4 vida">
    <div class="content ">
      <div class="hovereffect">
    <img src="/images/vida/17.jpg" alt="Jugando en grupo" style="width:100%">
      <div class="overlay">
       <h2>{% trans %}Jugando en grupo{% endtrans %}</h2>
      </div>
      </div>
    </div>
  </div>
  <div class="column col-md-4 habitat">
    <div class="content ">
      <div class="hovereffect">
    <img src="/images/habitat/17.jpg" alt="Puerto" style="width:100%">
    <div class="overlay">
     <h2>{% trans %}El puerto{% endtrans %}</h2>
    </div>
      </div>
    </div>
  </div>
  <div class="column col-md-4 vida">
    <div class="content ">
      <div class="hovereffect">
    <img src="/images/vida/18.jpg" alt="Mercado" style="width:100%">
      <div class="overlay">
       <h2>{% trans %}Escuela{% endtrans %}</h2>
      </div>
      </div>
    </div>
  </div>
  <div class="column col-md-4 habitat">
    <div class="content ">
      <div class="hovereffect">
    <img src="/images/habitat/18.jpg" alt="Vista hogares" style="width:100%">
    <div class="overlay">
     <h2>{% trans %}Vista a los hogares{% endtrans %}</h2>
    </div>
      </div>
    </div>
  </div>
  <div class="column col-md-4 vida">
    <div class="content ">
      <div class="hovereffect">
    <img src="/images/vida/19.jpg" alt="Jugando" style="width:100%">
      <div class="overlay">
       <h2>{% trans %}Jugando con sus figuras{% endtrans %}</h2>
      </div>
      </div>
    </div>
  </div>
  <div class="column col-md-4 habitat">
    <div class="content ">
      <div class="hovereffect">
    <img src="/images/habitat/19.jpg" alt="Playa" style="width:100%">
    <div class="overlay">
     <h2>{% trans %}Preciosa playa{% endtrans %}</h2>
    </div>
      </div>
    </div>
  </div>
  <div class="column col-md-4 vida">
    <div class="content ">
      <div class="hovereffect">
    <img src="/images/vida/20.jpg" alt="Niños cantando" style="width:100%">
      <div class="overlay">
       <h2>{% trans %}Niños cantando en coro{% endtrans %}</h2>
      </div>
      </div>
    </div>
  </div>
  <div class="column col-md-4 habitat">
    <div class="content ">
      <div class="hovereffect">
    <img src="/images/habitat/20.jpg" alt="Vista" style="width:100%">
    <div class="overlay">
     <h2>{% trans %}Desde el jardín al mar{% endtrans %}</h2>
    </div>
      </div>
    </div>
  </div>
  <div class="column col-md-4 vida">
    <div class="content ">
      <div class="hovereffect">
    <img src="/images/vida/21.jpg" alt="Escuela" style="width:100%">
      <div class="overlay">
       <h2>{% trans %}Aprendiendo con juegos{% endtrans %}</h2>
      </div>
      </div>
    </div>
  </div>
  <div class="column col-md-4 habitat">
    <div class="content ">
      <div class="hovereffect">
    <img src="/images/habitat/21.jpg" alt="Puerto" style="width:100%">
    <div class="overlay">
     <h2>{% trans %}Paradero del puerto{% endtrans %}</h2>
    </div>
      </div>
    </div>
  </div>
  <div class="column col-md-4 vida">
    <div class="content ">
      <div class="hovereffect">
    <img src="/images/vida/22.jpg" alt="Begoña divirtiendose" style="width:100%">
      <div class="overlay">
       <h2>{% trans %}Begoña divirtiendose{% endtrans %}</h2>
      </div>
      </div>
    </div>
  </div>
  <div class="column col-md-4 habitat">
    <div class="content ">
      <div class="hovereffect">
    <img src="/images/habitat/22.jpg" alt="Jardín" style="width:100%">
    <div class="overlay">
     <h2>{% trans %}Naturaleza hermosa{% endtrans %}</h2>
    </div>
      </div>
    </div>
  </div>
  <div class="column col-md-4 vida">
    <div class="content ">
      <div class="hovereffect">
    <img src="/images/vida/23.jpg" alt="Futbol" style="width:100%">
      <div class="overlay">
       <h2>{% trans %}Jugando a futbol{% endtrans %}</h2>
      </div>
      </div>
    </div>
  </div>
  <div class="column col-md-4 vida">
    <div class="content ">
      <div class="hovereffect">
    <img src="/images/vida/24.jpg" alt="Comedor" style="width:100%">
    <div class="overlay">
     <h2>{% trans %}Comedor{% endtrans %}</h2>
    </div>
      </div>
    </div>
  </div>
  <div class="column col-md-4 vida">
    <div class="content ">
      <div class="hovereffect">
    <img src="/images/vida/25.jpg" alt="Escuela" style="width:100%">
      <div class="overlay">
       <h2>{% trans %}Lecciones de geografía{% endtrans %}</h2>
      </div>
      </div>
    </div>
  </div>
  <div class="column col-md-4 vida">
    <div class="content ">
      <div class="hovereffect">
    <img src="/images/vida/26.jpg" alt="Naturaleza" style="width:100%">
    <div class="overlay">
     <h2>{% trans %}Explorando la naturaleza{% endtrans %}</h2>
    </div>
      </div>
    </div>
  </div>
  <div class="column col-md-4 vida">
    <div class="content ">
      <div class="hovereffect">
    <img src="/images/vida/27.jpg" alt="Escuela" style="width:100%">
      <div class="overlay">
       <h2>{% trans %}Aprendiendo en la escuela{% endtrans %}</h2>
      </div>
      </div>
    </div>
  </div>



<!-- END GRID -->
</div>

<!-- END MAIN -->
</div>

{% endblock %}

{% block javascripts %}
  <script src="{{asset('js/gallery.js')}}" charset="utf-8"></script>
{% endblock %}
