{% extends 'base.html.twig' %}

{% block body %}
{% set locale = app.request.getLocale() %}
<div class="contenidoJumbotron">
  <div id="demo" class="carousel slide central" data-ride="carousel">


    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
      <li data-target="#demo" data-slide-to="2"></li>
    </ul>


    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="img-responsive" src="{{ asset('/images/slide/3.jpg') }}" width="100%" height="100%">
        <div class="container">
          <div class="carousel-caption">
            <div class="cuadro">
            <h3 class="slidertitle">{% trans %}Socio{% endtrans %}</h3>
            <h1 class="slidertext">{% trans %}Colabora{% endtrans %}</h1>
            <a class="btn btn-large btn-primary" href="{{path('registro', { '_locale': locale })}}">Registrate ahora</a>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <picture>
          <source type="image/webp" srcset="images/slide/2.webp">
          <img class="img-responsive" src="/images/slide/2.jpg" width="100%" height="100%">
        </picture>
        <div class="container">
          <div class="carousel-caption">
            <div class="cuadro">
            <h3 class="slidertitle">{% trans %}Explora{% endtrans %}</h3>
            <h1 class="slidertext">{% trans %}Naturaleza{% endtrans %}</h1>
            <a class="btn btn-large btn-primary" href="{{path('galeria', { '_locale': locale })}}">Visita la galería</a>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <picture>
          <source type="image/webp" srcset="images/slide/1.webp">
          <img class="img-responsive" src="/images/slide/1.jpg" width="100%" height="100%">
        </picture>
        <div class="container">
          <div class="carousel-caption">
            <div class="cuadro">
            <h3 class="slidertitle">{% trans %}Ayudanos{% endtrans %}</h3>
            <h1 class="slidertext">VIAJA CON NOSOTROS<BR>Y CONOCE NUESTRA CULTURA</h1>
            <a class="btn btn-large btn-primary" href="{{path('ven_a_lamu', { '_locale': locale })}}">Viaja ahora</a>
            </div>
          </div>
        </div>
      </div>
    </div>


    <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>
  <div class="container" style="margin-top: 80px">

    <div class="wow fadeIn"><p><span style="color:#608035;font-weight:bold;border:1px solid #8cc63f;padding:3px;">ONE DAY YES</span> nace con el objetivo de garantizar la <span style="color:#608035;font-weight:bold;">educación y alimentación</span> de los niños y niñas que componen la escuela Twashukuru,  para que se consolide, se haga autosuficiente y genere empleo local en la <span style="color:#608035;font-weight:bold;">comunidad de Lamu.</span> Un proyecto que vale la pena. Un proyecto que descubres cuando menos te lo esperas. Un proyecto que <span style="color:#608035;font-weight:bold;">cambia vidas.</span> Un proyecto que nos hace <span style="color:#608035;font-weight:bold;">mejores personas.</span> Un proyecto para quienes apuestan por el impacto directo de su aportación. Un proyecto sencillo, familiar y local. Un proyecto con una <span style="color:#608035;font-weight:bold;">filosofía muy especial.</span><p>
    </div>

      <div class="wow fadeIn">
      <p>Esta escuela es más que una escuela. Es un <span style="color:#608035;font-weight:bold;">proyecto de vida</span> para los niños y para la comunidad de Lamu. Es un proyecto auténtico que nace al amparo del reciclaje. La escuela está construida con <span style="color:#608035;font-weight:bold;">botellas de plástico y de vidrio</span> que se recogen de la basura de Lamu. Es una escuela con una filosofía sostenible basada en el reciclaje y donde, además, la música tiene un protagonismo especial.</p>
      </div>

        <div class="wow fadeIn">
        <p>Fuera de Lamu nuestro trabajo se centra en <span style="color:#608035;font-weight:bold;">sensibilizar a la población europea.</span> Dar a conocer la cultura swahili y dar a conocer la otra África. La África alegre , ilusionante y positiva a pesar de la pobreza en la que viven. La África que penetra, la África fuerte, grande y hermosa. <span style="color:#608035;font-weight:bold;">La África de 37 niños en Lamu que le sonríen a la vida.</span> Para ello organizamos actividades de todo tipo, desde conciertos, exposiciones de fotos, charlas, conferencias, subastas... Donde damos a conocer este proyecto e intentamos <span style="color:#608035;font-weight:bold;">captar socios y recaudar financiación.</span></p>
        </div>

          <div class="wow fadeIn"
          <p>Pero lo más importante de nuestras labores de sensibilización es trabajar con los niños en Europa. Para ello organizamos talleres con los niños en los colegios para sensibilizarles desde bien pequeños y que  conozcan la realidad que viven  los niños de África que también <span style="color:#608035;font-weight:bold;">juegan, ríen y son felices,</span> que tienen otra cultura, otras costumbres, otras religiones... Y que por muy diferentes que parezcan, al final del camino, son niños como ello. <span style="color:#608035;font-weight:bold;">Somos todos iguales.</span>  Queremos que  los sientan cerca y que no  sean unos auténticos ignorantes de lo que pasa en el resto del mundo. Eso sí! Siempre con una sonrisa en la boca. Desde una perspectiva positiva, de crecer juntos y de <span style="color:#608035;font-weight:bold;">construir entre todos un mundo mejor.</span></p>
          </div>
  </div>
</div>
{% endblock %}
