<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <style media="screen">
      div {
        border:1px solid silver;
        background:#8cc63f;
        border-radius:0.3em;
        padding: 20px;
      }
    </style>
  </head>
  <body>
    <div class="contenedorEmailRegistro">
      <h1>¡Bienvenido a OneDayYes!</h1><br>
      <h3>You did it! You registered!</h3>
      <p>Hi {{user.username}}! You're successfully registered.</p>
      Haz click aqui para finalizar tu registro:<br>
      <a href="{{url('verificar_correo', {'codigo': user.codigoValidacion})}}">Verificar email.</a> 
    </div>
  </body>
</html>
