{% extends 'baseAdminSimple.html.twig' %}

{% block body %}
    <div class="contenido">
      <h1>Hola {{usuario.username}}, tu correo ha sido validado correctamente</h1><br>
      <h3>BIENVENIDO</h3>


{% endblock %}
